@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    /*font-family: 'Staatliches', cursive;*/
    font-family: 'Russo One', sans-serif;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    
  }

  .card p{
    font-size: 1.4em;
    text-align: left;
  
  }

  .card h2 {
    color: black;
    text-decoration: underline;
    font-size: 3em;
  }

  .card h2::after{
    color: black;
    text-decoration: underline;
  }

  .card h5{
    font-weight: bold;
  }

  .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    margin-bottom: 1em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }

  }


  .row{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }